@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: GelionBold;
  src: url("/fonts/gelion-bold.ttf");
}

@font-face {
  font-family: GelionSemibold;
  src: url("/fonts/gelion-semibold.ttf");
}

@font-face {
  font-family: GelionMedium;
  src: url("/fonts/gelion-medium.ttf");
}

@font-face {
  font-family: GelionRegular;
  src: url("/fonts/gelion-regular.ttf");
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}
